/* src/input.css */
@import "tailwindcss";

/* Estilo da barra de rolagem interna do texto */
.text-scroll::-webkit-scrollbar {
    width: 4px;
}
.text-scroll::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}
.text-scroll::-webkit-scrollbar-thumb {
    background-color: #D4AF37; /* Dourado */
    border-radius: 4px;
}